# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
trim_trailing_whitespace = true

[*.{ts,tsx,js,jsx,cjs,mjs,json}]
indent_size = 2

[*.md]
indent_size = 2
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2
